@import "tailwindcss";

:root {
  --background: #0b130a;
  --bright-green: #30d90d;
  --pale-green: #15670d;
  --palest-green: #11360b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bright-green: var(--bright-green);
  --color-pale-green: var(--pale-green);
  --color-palest-green: var(--palest-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vt323: var(--font-vt323);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b130a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
